*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

.topbar{
    position: sticky;
    top: 0;
}

/* .hero{
    position: sticky;
    top: 72px;
    z-index: 999;
} */

/* .pageselpageselectect{
    border: 2px solid darkblue;
} */